<div class="page-layout overflow-hidden pb-8">
    <div class="header-bg">
        <img class="imgPageSinLogin" src="assets/images/marcas/hyundai/bannerHyundai.jpg">
    </div>
    <div class="content">
        <div class="content-header p-24" fxLayout="row wrap" fxLayoutAlign="start center">
            <h1 class="textoImg">HYUNDAI</h1>
        </div>
    </div>
</div>

<div fxLayout="row wrap" style="margin-top: 30px;">
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
        <!--<div class="ih-item square colored effect14 left_to_right" style="margin-left: 30px;margin-right: 10px;">
            <a href="#">
                <div class="img"><img class="tamImg" src="assets/images/marcas/hyundai/hyundaiMain.png" alt="img"></div>
                <div class="info">
                    <h3>HYUNDAI</h3>
                </div>
            </a>
        </div>-->
        <div style="margin-left: auto; margin-right: auto;text-align: center;">
            <img class="tamImg" src="assets/images/marcas/hyundai/hyundaiMain.png" alt="img">
        </div>
        <div>
            <h4 class="divText"><span style="font-weight: bold;">Molina y Compañía</span> es la solución integral para las necesidades de tu vehículo Hyundai, al contar con todo lo necesario para su funcionamiento en un solo lugar y al mejor precio. Te invitamos a consultar
                nuestras marcas para que vivas una nueva experiencia en servicio.</h4>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
        <div class="divContact">
            <div>
                <h3 class="textBlue">Entrega a domicilio y despachos a nivel nacional.</h3>
                <h4><i>¡Contáctenos!</i></h4>
            </div>
            <mat-icon class="tamIcon">flight_takeoff</mat-icon>

        </div>
    </div>
</div>
<hr>

<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item circle colored effect8 top_to_bottom divTam">
            <a href="#">
                <div class="img-container">
                    <div class="img"><img src="assets/images/marcas/hyundai/hyundai_genuine.PNG" alt="img"></div>
                </div>
                <div class="info-container">
                    <div class="info">
                        <h3>HYUNDAI GENUINE PARTS</h3>
                        <p></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item circle colored effect8 top_to_bottom divTam">
            <a href="#">
                <div class="img-container">
                    <div class="img"><img src="assets/images/marcas/hyundai/hyundai_mobis.PNG" alt="img"></div>
                </div>
                <div class="info-container">
                    <div class="info">
                        <h3>HYUNDAI MOBIS</h3>
                        <p></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item circle colored effect8 top_to_bottom divTam">
            <a href="#">
                <div class="img-container">
                    <div class="img"><img src="assets/images/marcas/hyundai/hyundai_kumho.PNG" alt="img"></div>
                </div>
                <div class="info-container">
                    <div class="info">
                        <h3>KUMHO</h3>
                        <p></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item circle colored effect8 top_to_bottom divTam">
            <a href="#">
                <div class="img-container">
                    <div class="img"><img src="assets/images/marcas/hyundai/hyundai_hankook.PNG" alt="img"></div>
                </div>
                <div class="info-container">
                    <div class="info">
                        <h3>HANKOOK</h3>
                        <p></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item circle colored effect8 top_to_bottom divTam">
            <a href="#">
                <div class="img-container">
                    <div class="img"><img src="assets/images/marcas/hyundai/hyundai_continental.png" alt="img"></div>
                </div>
                <div class="info-container">
                    <div class="info">
                        <h3>CONTINENTAL</h3>
                        <p></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item circle colored effect8 top_to_bottom divTam">
            <a href="#">
                <div class="img-container">
                    <div class="img"><img src="assets/images/marcas/hyundai/hyundai_nexen.PNG" alt="img"></div>
                </div>
                <div class="info-container">
                    <div class="info">
                        <h3>NEXEN</h3>
                        <p></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item circle colored effect8 top_to_bottom divTam">
            <a href="#">
                <div class="img-container">
                    <div class="img"><img src="assets/images/marcas/hyundai/hyundai_maxxis.PNG" alt="img"></div>
                </div>
                <div class="info-container">
                    <div class="info">
                        <h3>MAXXIS</h3>
                        <p></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item circle colored effect8 top_to_bottom divTam">
            <a href="#">
                <div class="img-container">
                    <div class="img"><img src="assets/images/marcas/hyundai/hyundai_goodyear.PNG" alt="img"></div>
                </div>
                <div class="info-container">
                    <div class="info">
                        <h3>GOODYEAR</h3>
                        <p></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item circle colored effect8 top_to_bottom divTam">
            <a href="#">
                <div class="img-container">
                    <div class="img"><img src="assets/images/marcas/hyundai/hyundai_SOIL.PNG" alt="img"></div>
                </div>
                <div class="info-container">
                    <div class="info">
                        <h3>S-OIL</h3>
                        <p></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>