<div class="page-layout overflow-hidden pb-8">
    <!-- header background -->
    <div class="header-bg">
        <img class="imgPageSinLogin" src="assets/images/imgSinLogueo/KiaStinger-garantia.png">
    </div>

    <div class="content">
        <!-- Header content -->
        <div class="content-header p-24" fxLayout="row wrap" fxLayoutAlign="start center">
            <h1 class="textoImg">GARANTÍA</h1>
        </div>

        <!-- Body card -->
        <div class="content-body">
            <!-- body card toolbar -->
            <div class="content-card default-bg">
                <div class="card-header px-24">
                    <h4 class="m-0" class="textSubTitulo textTitle"> LA MEJOR GARANTÍA DE LA INDUSTRIA AUTOMOTRIZ
                        COLOMBIANA
                    </h4>
                </div>

                <!-- body content -->
                <div class="card-body p-24" style="text-align: justify;">
                    <p class="letraMayusc">L </p> <img class="imgCuerpo"
                        src="assets/images/imgSinLogueo/Hyundai-Elantra.jpg" title="Garantía.">
                    <p>os altos niveles de calidad en todos los productos nos permiten otorgar una garantía extendida a
                        1 año. Queremos una relación a largo plazo con nuestros clientes y a través de esta nueva
                        garantía, queremos dar toda la tranquilidad
                        para que puedas disfrutar de tu Hyundai, KIA o Suzuki sin preocupación alguna ¡Más allá de las
                        distancias recorridas, lo que importa son la experiencia vividas !.
                    </p>
                    <p>Cualquier componente que sufra defecto de calidad en tu vehículo Hyundai, KIA o Suzuki esta
                        cubierto por 1 año de garantía desde la fecha de entrega.</p>
                    <p>*Consulta excepciones y condiciones.</p>
                </div>
            </div>
        </div>

    </div>

</div>