.button {
    margin: 10px;
}

.colorTitulo {
    color: #ffc107;
    font-weight: bold;
    font-size: 20px;
}

.signup4-form {
    padding: 15px;
}

.cajas {
    width: 80%;
}

.content-card {
    width: 100%;
}