<form [formGroup]="changePasswordForm" fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.xs="column"
    (ngSubmit)="onSubmit()">
    <div fxFlex="60" fxFlex.xs="100">
        <h1 mat-dialog-title>Cambio de contraseña {{ currentUser.name }}</h1>
    </div>
    <div fxFlex="60" fxFlex.xs="100">
        <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label>Anterior contraseña</mat-label>
            <input autocomplete="off" matInput [type]="hide_current ? 'password' : 'text'"
                formControlName="currentPassword" ngDefaultControl placeholder="Digite actual contraseña">
            <button type="button" mat-icon-button matSuffix (click)="hide_current = !hide_current"
                [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide_current">
                <mat-icon>{{hide_current ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="currentPassword.invalid">
                <ng-container *ngIf="currentPassword.errors?.required">Campo requerido</ng-container>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="60" fxFlex.xs="100">
        <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput [type]="hide_new ? 'password' : 'text'" formControlName="newPassword" ngDefaultControl
                placeholder="Digite nueva contraseña">
            <button type="button" mat-icon-button matSuffix (click)="hide_new = !hide_new"
                [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide_new">
                <mat-icon>{{hide_new ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="newPassword.invalid">
                <ng-container *ngIf="newPassword.errors?.required">Campo requerido</ng-container>
                <ng-container *ngIf="newPassword.errors?.minlength">Debe tener minimo 8 digitos</ng-container>
                <ng-container *ngIf="newPassword.errors?.maxlength">Debe tener maximo 15 digitos </ng-container>
                <ng-container *ngIf="newPassword.errors?.pattern">Tiene que tener una letra minuscula, una mayuscula
                    y un caracter
                    especial sin espacios. </ng-container>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="60" fxFlex.xs="100">
        <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label>Confirmación de contraseña</mat-label>
            <input matInput [type]="hide_confirm ? 'password' : 'text'" formControlName="confirmNewPassword"
                ngDefaultControl placeholder="Digite confirmación de nueva contraseña">
            <button type="button" mat-icon-button matSuffix (click)="hide_confirm = !hide_confirm"
                [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide_confirm">
                <mat-icon>{{hide_confirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="confirmNewPassword.invalid">
                El campo tipo de usuario es requerido
            </mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="60" fxFlex.xs="100">
        <button type="submit" mat-raised-button color="primary" [disabled]="changePasswordForm.invalid">Cambiar
            contraseña</button>
    </div>
</form>