<footer class="main-footer">
    <div class="container-dynamic d-flex">
        <img class="imgFooter1" src="assets/images/molina_compania.png" alt="">

        <!-- <a mat-raised-button color="accent" href="http://1.envato.market/JN1r7" class="topbar-button-right">Buy Egret </a>
        <span class="m-auto"></span> Design & Developed by
        <a href="https://ui-lib.com"> UI Lib</a> -->

        <span class="m-auto"></span>
        <a mat-stroked-button target="_blank" color="accent"
            href="https://web.facebook.com/Molina-y-Compa%C3%B1ia-326554137543108/?ref=aymt_homepage_panel&eid=ARCTZJq_nahnYJ_waR8FLaJmboNRGLIBMbfbN11PJYtQf4eXuwm7gCSvizu0W_0n1-b6ndCwudUVwdqb"
            class="topbar-button-right"> <img class="imgButton" src="assets/images/facebook-f.png" title="Facebook"></a>
        <a mat-stroked-button target="_blank" color="accent" href="https://twitter.com/molinaycompania"
            class="topbar-button-right"> <img class="imgLogos" src="assets/images/twitter-t.png" title="Twitter"></a>
        <a mat-stroked-button target="_blank" color="accent" href="https://www.instagram.com/molinaycompania/?hl=es-la"
            class="topbar-button-right"> <img class="imgLogos" src="assets/images/instagram-i.png"
                title="Instagram"></a>

    </div>
</footer>