<div class="page-layout overflow-hidden pb-8">
    <!-- header background -->
    <div class="header-bg">
        <img class="imgPageSinLogin" src="assets/images/imgSinLogueo/Hyundai-i30NMod1.png">
    </div>

    <div class="content">
        <!-- Header content -->
        <div class="content-header p-24" fxLayout="row wrap" fxLayoutAlign="start center">
            <h1 class="textoImg">FINANCIACIÓN</h1>
        </div>

        <!-- Body card -->
        <div class="content-body">
            <!-- body card toolbar -->
            <div class="content-card default-bg">
                <div class="card-header px-24">
                    <h4 class="m-0" class="textSubTitulo textTitle">MOLINA Y COMPAÑÍA FINANCE</h4>
                </div>

                <!-- body content -->
                <div class="card-body p-24" style="text-align: justify;">
                    <p class="letraMayusc">T </p> <img class="imgFinance" src="assets/images/imgSinLogueo/MYC-FINANCE.png" title="Financiación." />
                    <p>odo para tu Hyundai, KIA y Suzuki a tu alcance, sólo tienes que elegir los productos que necesites y Molina y Compañía Finance se encargará de proporcionarte la manera más ágil y cómoda de financiarlo, ya que contamos con una amplia
                        gama de soluciones financieras para tu Empresa.
                    </p>
                    <p>Con Molina y Compañía Finance puedes financiar hasta el 100% de tus ordenes en plazos de hasta 60 días, buscando tu comodidad, la tramitación de la operación financiera podrás realizarla de manera virtual, realizando los pagos en tu
                        banco habitual.</p>
                </div>
            </div>
        </div>

    </div>

</div>