<div class="page-layout overflow-hidden pb-8">
    <div class="header-bg">
        <img class="imgPageSinLogin" src="assets/images/imgSinLogueo/inventario2.png">
    </div>
    <div class="content">
        <div class="content-header p-24" fxLayout="row wrap" fxLayoutAlign="start center">
            <h1 class="textoImg">NOSOTROS</h1>
        </div>
    </div>
</div>

<div class="page-layout overflow-hidden ">

    <div class="page-layout" style="text-align: center;">
        <div style="padding-left: 45px; float: left; width: 63%; text-align: justify;">
            <p class="textSubTitulo" style="color:rgb(20, 24, 137);">NUESTRA EMPRESA</p>
            <p class="letraMayusc">M </p>
            <p>olina y Compañia es una iniciativa creada en 2013 para el suministro eficiente de repuestos, llantas, lubricantes y baterías para las marcas Hyundai y KIA. </p>
            <p>Con más de 10 años de experiencia en el mercado, somos especialistas en la importación, comercialización, distribución y servicio post-venta en el sector de las autopartes, baterías, lubricantes y llantas, atendiendo las principales marcas
                y garantizando altos estándares de calidad y servicio a través de nuestra red de atención y venta en Colombia.
            </p>
            <p>Contamos con un talento humano idóneo para la resolver los requerimientos en términos de producto y servicio de nuestros clientes, con el valor mas competitivo del mercado.</p>
            <p>Así mismo, tenemos 3 bodegas a escala nacional para el despacho oportuno de nuestros productos en todo el territorio colombiano.</p>
        </div>
        <div style="padding-right: 45px; float: right; width: 35%; text-align: justify;">
            <p class="textSubTitulo" style="color:rgb(20, 24, 137);">Promovemos: </p>
            <p class="caja">Confianza </p>
            <p class="caja">Respeto </p>
            <p class="caja">Honestidad </p>
            <p class="caja">Responsabilidad </p>
            <p class="caja">Cumplimiento </p>
            <p class="caja">Conciencia ambiental </p>
        </div>
    </div>
</div>
<div fxLayout="row wrap" class="divContainer">
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="textColumn">
            <h2 class="textSub">MISIÓN</h2>
            <p>Somos Molina y Compañía, empresa disruptiva en el sector de repuestos, llantas, lubricantes y baterías de las lineas Hyundai y KIA.</p>
            <p>Contamos con una organización innovadora, ágil y eficaz al momento de interpretar las necesidades de nuestros clientes y ofrecer soluciones pertinentes, gracias a la expertiz de nuestro talento humano y su compromiso con nuestros clientes.</p>
            <p>Brindamos un servicio de alto valor con la convicción de superar las expectativas de nuestros clientes y crear relaciones sostenibles en el tiempo.</p>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="textColumn">
            <h2 class="textSub">VISIÓN</h2>
            <p>Para el año 2025 contamos con ser la empresa de mayor crecimiento del sector, ampliando nuestro portafolio a 5 marcas de vehículos y 10 nuevas lineas de negocio apoyadas en canales digitales y especializadas en la solución de nuevas necesidades
                de nuestros clientes.</p>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div>
            <div class="slidershow middle">
                <div class="slides">
                    <input type="radio" name="r" id="r1" checked>
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <input type="radio" name="r" id="r4">
                    <input type="radio" name="r" id="r5">

                    <div class="slide s1">
                        <img src="assets/images/imgSinLogueo/bodega2.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="assets/images/imgSinLogueo/bodega1.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="assets/images/imgSinLogueo/bodega3.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="assets/images/imgSinLogueo/bodega4.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="assets/images/imgSinLogueo/envios2.jpg" alt="">
                    </div>
                </div>

                <div class="navigation">
                    <label for="r1" class="bar"></label>
                    <label for="r2" class="bar"></label>
                    <label for="r3" class="bar"></label>
                    <label for="r4" class="bar"></label>
                    <label for="r5" class="bar"></label>
                </div>
            </div>
        </div>
    </div>
</div>


<div fxLayout="row wrap" class="divContainer">
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="textColumn">
            <h2 class="textSub">POLÍTICA DE CALIDAD</h2>
            <p>Molina y Compañía, tiene como Política de Calidad importar, comercializar y distribuir autopartes, baterías, lubricantes y llantas para vehículos con el fin de satisfacer las necesidades y requisitos de nuestros clientes en cuanto a: Asesoría
                efectiva, buen servicio, oportunidad en la entrega, precios competitivos, disponibilidad, calidad del producto y garantía post-venta.</p>
            <p>Para lograrlo contamos con un recurso humano idóneo y competente que nos permite fidelizar a nuestros clientes actuales y aumentar la base de clientes, garantizando la rentabilidad, el crecimiento y posicionamiento de la empresa, comprometiéndonos
                con el mejoramiento continuo de la eficacia de nuestro Sistema de Gestión de Calidad.</p>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="textColumn">
            <h2 class="textSub">PRINCIPIOS CORPORATIVOS</h2>
            <p>
                <span class="material-icons"> label_important</span> Brindamos una atención oportuna y de excelencia a nuestros clientes.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Destacamos nuestro compromiso con la ética empresarial en todos nuestros negocios.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Fomentamos el trabajo en equipo con gente comprometida y feliz.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Apoyamos el sistema de calidad como eje conductor de los procesos de la organización.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Trabajamos por el desarrollo integral de las personas en la empresa.
            </p>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="textColumn">
            <h2 class="textSub">NUESTROS PRINCIPALES SERVICIOS</h2>
            <p>
                <span class="material-icons"> label_important</span> Repuestos originales, baterías, lubricantes para vehículos, a precios competitivos.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Asesoría técnica por parte de nuestros funcionarios altamente capacitados.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Marcación de la mercancía despachada para identificación de garantía de originalidad y seguridad.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Stock permanente para todas las líneas con un order fill rate superior al 80% lo cual nos permite realizar despachos completos e inmediatos de acuerdo a la solicitud del cliente.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Cumplimiento de pedidos en tiempo mínimo, ya que contamos con el mejor sistema de servicio a domicilio; con motocicletas, camiones y camionetas para entregas directas locales, además
                de convenios con transportadoras para despachos nacionales.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Información en medios magnéticos o vía internet sobre resumen de operaciones, estados de cuenta, etc.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Comunicación directa mediante medios virtuales y correo electrónico, ventas en línea, redes sociales, paginas web, herramientas BTB y BTC; que nos permite tener un constante contacto
                con los clientes.
            </p>
            <p>
                <span class="material-icons"> label_important</span> Todas las formas de pago: Contado (efectivo), tarjetas débito y crédito, crédito con cheque pos fechado, bonos Sodexo, Premium Pass, Big Pass regalo, baloto botón PSE débito. Entre otros.
            </p>
        </div>
    </div>
</div>