table {
    td {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.button-modal-purchase {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    justify-content: flex-end;
}