.colorButton {
    color: #ffc107;
    background-color: rgb(27, 30, 102);
    width: 100px;
    margin-left: 30px;
}

.material-icons {
    color: #ffc107;
}

.content-header {
    height: 50px;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 10px;
}

.body {
    font-size: 15px;
    margin: 20px;
    margin-bottom: 40px;
}

.content-card .card-body {
    font-size: 15px;
    margin: 10px;
    margin-top: 3px;
    margin-bottom: 12px;
    padding: 15px;
}

.colorText {
    background: rgb(151, 170, 197);
}

.header-bg {
    height: 75px;
}

.tableHead {
    text-align: center;
    margin-left: 30px;
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    color: rgb(27, 30, 102);
}

.tableBody {
    text-align: center;
    margin-left: 30px;
    margin-right: auto;
}

.trCustom {
    min-width: 235px;
    height: 20px;
}

.cart-table thead tr th {
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 12px;
}

.cart-table tbody tr td {
    text-align: center;
    padding: 2px;
    font-size: 12px;
}

.divHead {
    /*background: rgb(164, 175, 194);*/
    background: rgb(192, 204, 224);
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
}

.head {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.text {
    text-align: center;
    font-size: 14px;
}

.divContent {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(117, 129, 148);
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.cart-table {
    margin-bottom: 0px;
}

.rowOrder {
    margin-left: 0px;
    margin-right: 0px;
}