<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" class="divCarrousel">
        <mat-card class="default">
            <div id="carouselExampleFade" class="carousel slide carousel-fade divCarrousel" data-interval="8000"
                data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/images/main/Img_carrusel1.jpg" class="d-block w-100 imgTam" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="codh1"><b>REPUESTOS </b></h1>
                            <span class="codh1 textSpan">ORIGINALES</span>
                            <h2 class="codh2">PARA TU VEHÍCULO</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/main/Img_carrusel2.jpg" class="d-block w-100 imgTam" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="codh1"><b>AUTOPARTES </b> </h1>
                            <span class="codh1 textSpan">DE CALIDAD</span>
                            <h2 class="codh2">PARA TU VEHÍCULO</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/main/Img_carrusel3.jpg" class="d-block w-100 imgTam" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="codh1"><b>LLANTAS </b> </h1>
                            <span class="codh1 textSpanB">DE LAS MEJORES MARCAS</span>
                            <h2 class="codh2">PARA TU VEHÍCULO</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/main/Img_carrusel4.jpg" class="d-block w-100 imgTam" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="codh1"><b>LUBRICANTES </b> </h1>
                            <span class="codh1 textSpan">PARA</span>
                            <h2 class="codh2">UN MEJOR DESEMPEÑO</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/main/Img_carrusel5.jpg" class="d-block w-100 imgTam" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="codh1"><b>BATERÍAS, </b> </h1>
                            <span class="codh1 textSpan">LA ENERGÍA QUE</span>
                            <h2 class="codh2">NECESITA TU VEHÍCULO</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/main/Img_carrusel6.jpg" class="d-block w-100 imgTam" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="codh1"><b>CONFIANZA </b> </h1>
                            <span class="codh1 textSpanN">Y RESPALDO</span>
                            <h2 class="codh2">DE TU CAMINO</h2>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" class="divTitle">
        <mat-card class="default">
            <h1 class="textTitle">NUESTRAS MARCAS</h1>
        </mat-card>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item colored  circle effect7 right_to_left divTam">
            <a routerLink="/marcas/marca-hyundai">
                <div class="img"><img src="assets/images/marcas/hyundai.PNG" alt="img"></div>
                <div class="info">
                    <h3>HYUNDAI</h3>
                    <p></p>
                </div>
            </a>
        </div>
        <div>
            <h2 class="textSub">HYUNDAI</h2>
            <h4 class="text-center">Cuida tu Hyundai, encuentra todo para su cuidado aquí.</h4>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item colored  circle effect7 right_to_left divTam">
            <a routerLink="/marcas/marca-kia">
                <div class="img"><img src="assets/images/marcas/kia-logo.png" alt="img"></div>
                <div class="info">
                    <h3>KIA</h3>
                    <p></p>
                </div>
            </a>
        </div>
        <div>
            <h2 class="textSub">KIA</h2>
            <h4 class="text-center">Dale lo mejor a tu KIA, encuentra los productos para consentirlo aquí.</h4>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="ih-item colored  circle effect7 right_to_left divTam">
            <a routerLink="/marcas/marca-suzuki">
                <div class="img"><img src="assets/images/marcas/suzuki.PNG" alt="img"></div>
                <div class="info">
                    <h3>SUZUKI</h3>
                    <p></p>
                </div>
            </a>
        </div>
        <div>
            <h2 class="textSub">SUZUKI</h2>
            <h4 class="text-center">Alarga la vida de tu SUZUKI, todo lo que necesitas esta aquí.</h4>
        </div>
    </div>
</div>
<div style="margin-top: 65px;">
    <h1 class="textSub">Dirección: <span style="color: black">Cra. 22A No. 27A-21 Sur Barrio Olaya, Bogotá
            Colombia</span></h1>
</div>
<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="auto">
        <mat-card class="p-0" style="margin-top: 30px; margin-left: 22px; margin-right: 22px;">
            <mat-card-content class="p-0">
                <agm-map [ngStyle]="{height: '400px'}" [zoom]="zoom" [latitude]="mapCenter.lat"
                    [longitude]="mapCenter.lng">
                    <agm-marker [latitude]="mapCenter.lat" [longitude]="mapCenter.lng">
                        <agm-info-window [disableAutoPan]="true" [isOpen]="true">
                            <p><strong>MOLINA Y COMPAÑÍA SAS</strong></p>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap" style="margin-top: 30px;">
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light caHover">
            <h1 class="m-0" style="font-weight: bold;">Entrega a domicilio.</h1>
            <mat-icon class="tamIcon">shopping_cart</mat-icon>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light">
            <img class="imgRound" src="assets/images/imgSinLogueo/envios2.jpg" alt="img">
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light caHover">
            <h1 class="m-0" style="font-weight: bold;">Despacho a nivel nacional.</h1>
            <mat-icon class="tamIcon">airplanemode_active</mat-icon>
        </div>
    </div>
</div>

<div fxLayout="row wrap" class="divBanner">

    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light caHover">
            <a routerLink="/financiacion">
                <h1 class="m-0" style="font-weight: bold;">Financiación.</h1>
                <mat-icon class="tamIconBanner">price_check</mat-icon>
            </a>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light caHover">
            <a routerLink="/garantia">
                <h1 class="m-0" style="font-weight: bold;">Garantia.</h1>
                <mat-icon class="tamIconBanner">workspace_premium</mat-icon>
            </a>
        </div>
    </div>
    <!-- <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light caHover">
            <h1 class="m-0" style="font-weight: bold;">¿Cuáles son nuestras horas de operación?</h1>
            <img src="assets/images/main/horario.PNG" alt="img">
        </div>
    </div> -->
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light caHover">
            <a routerLink="/nosotros">
                <h1 class="m-0" style="font-weight: bold;">Sobre nosotros.</h1>
                <mat-icon class="tamIconBanner">supervisor_account</mat-icon>
            </a>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light caHover">
            <a routerLink="/contactenos">
                <h1 class="m-0" style="font-weight: bold;">Contactenos.</h1>
                <mat-icon class="tamIconBanner">location_on</mat-icon>
            </a>
        </div>
    </div>

</div>