.container-custom-table {
    display: flex;
    justify-content: center;

    .w80 {
        width: 80%;
    }
}

.justify-between {
    justify-content: space-between;
}

.fixed-button {
    position: fixed;
    bottom: 3vh;
    right: 3%;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.container-buttons-inventory {
    display: flex;
    padding: 0 3%;

    .fileUpload {
        text-align: center;
        width: 90%;
        padding: 3%;
        border: thin dotted black;
        cursor: pointer;

        input {
            display: none;
        }
    }
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #10174c;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #10174c;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #10174c;
}

.custom-container-table {
    overflow: auto;
    height: 100vh;
}